<p id="notice"><%= notice %></p>

<h1>Repartos</h1>

<table>
  <thead>
    <tr>
      <th>Actor</th>
      <th>Pelicula</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repartos.each do |reparto| %>
      <tr>
        <td><%= reparto.actor %></td>
        <td><%= reparto.pelicula %></td>
        <td><%= link_to 'Show', reparto %></td>
        <td><%= link_to 'Edit', edit_reparto_path(reparto) %></td>
        <td><%= link_to 'Destroy', reparto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reparto', new_reparto_path %>
