<%= form_with(model: miembro, local: true) do |form| %>
  <% if miembro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(miembro.errors.count, "error") %> prohibited this miembro from being saved:</h2>

      <ul>
      <% miembro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
