<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miembro.name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @miembro.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @miembro.direccion %>
</p>

<%= link_to 'Edit', edit_miembro_path(@miembro) %> |
<%= link_to 'Back', miembros_path %>
