<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @miembro.name %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @miembro.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @miembro.direccion %>
</p>


<h3>Alquileres</h3>
<ul>
  <% @miembro.alquilers.each do | alquiler | %>
    <li>
    <%= alquiler.cassete.pelicula.titulo %>
    <%= alquiler.fecha_alquiler %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_miembro_path(@miembro) %> |
<%= link_to 'Back', miembros_path %>
