<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @pelicula.titulo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @pelicula.categoria %>
</p>

<h3>Actors</h3>
<ul>
  <% @pelicula.repartos.each do | reparto | %>
    <li>
    <%= link_to reparto.actor.name, reparto.actor %>
    </li>
  <% end %>
</ul>


<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
